/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

/* Ganti URL background-image sesuai dengan path gambar */
.login-body {
    background-image: url('images/Cart.png');
}

.register-body {
    background-image: url('images/Cart.png');
}

h1 {
    font-size: 2.5rem;
    font-weight: normal;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Georgia', serif;
}

label {
    font-size: 1rem;
    color: #333;
    margin-bottom: 8px;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    font-family: 'Georgia', serif;
}

button:hover {
    background-color: #555;
}

a {
    color: #555;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Container Styles */
.login-container,
.register-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 400px;
    max-width: 100%;
}

/* Form and Link Styles */
.login-form,
.register-form {
    display: flex;
    flex-direction: column;
}

.login-link,
.register-link {
    text-align: center;
    margin-top: 15px;
}

.login-link a,
.register-link a {
    color: #007BFF;
}

.login-link a:hover,
.register-link a:hover {
    color: #0056b3;
}